h1,h2,h3,h4,h5,h6 {
 font-family: 'arial', sans-serif;
 font-weight: bold;
 margin-top: 1rem;
 margin-bottom: 1rem;
}
h1 {
 font-size: 32px;

}
h2 {
 font-size: 32px;
}
h3 {
 font-size: 32px;
}
.colorbox {
weight:100px;
height:100px;
display: inline-block;
}
.colorbox.primary {
 background-color: #007bff;
 color: #fff;
    text-decoration: none;
}
.colorbox.secondary {
 background-color: #6c757d;
 color: #fff;
    text-decoration: none;
}